.header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 8, 97, 0.892), rgba(9, 8, 97, 0.631)), url("images/Services.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}
.topimage{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 8, 97, 0.892), rgba(9, 8, 97, 0.631)), url("images/contact.png");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}
.topimages{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 8, 97, 0.892), rgba(9, 8, 97, 0.631)), url("images/keyboard2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}
.text-box{
    width: 90%;
    color: white;
    position:relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;
    color: white;
}